{{>head.html}}
{{#current}}
<header class="jumbotron subhead" id="overview">
  <div class="page-header"><h1>{{caption}}</h1></div>
</header>

<div class="row-fluid">
  <div class="span9 bs-docs-sidebar">
    <figure id="gallery-figure">
        <picture>
    		<source type="image/jpeg" srcset="/img/full/{{file}}.jpg">
    		<img class="gallery-photo" alt="{{alt}}" src="/img/full/{{file}}.jpg"/>
        </picture>
    </figure>
{{/current}}
    <div class="pagination pagination-centered">
      <ul>
        {{#previous}}<li><a href="{{permalink}}">&larr;</a></li>{{/previous}}
        {{#parent}}<li><a href="{{permalink}}">{{title}}</a></li>{{/parent}}
        {{#next}}<li><a href="{{permalink}}">&rarr;</a></li>{{/next}}
      </ul>
    </div>
  </div>
  {{>aside.html}}
</div>
{{>foot.html}}
