{{>head.html}}
<header class="jumbotron subhead" id="overview">
    <p class="lead">
      <span>&gt;&gt;</span>
      <a href="{{#site}}{{url}}{{/site}}/">Home</a>
      {{#path}}<span class="divider">/</span><a href="{{#site}}{{url}}{{/site}}/{{full}}/">{{name}}</a>{{/path}}
      {{#taxonomies}}
        {{#categories}}<span class="divider">/</span>
        <a class="category" href="{{#site}}{{url}}{{/site}}/categories/{{name}}">{{name}}</a>{{/categories}}
        <span class="divider">/</span>
        {{#tags}}<a class="tag" href="{{#site}}{{url}}{{/site}}/tags/{{name}}">{{name}}</a>{{/tags}}
      {{/taxonomies}}
    </p>
    <div class="page-header"><h1>{{title}}</h1></div>
    
    <p class="text-right">
      {{#taxonomies}}<span class="label label-success">&becaus;
            {{#authors}}{{name}}{{/authors}}{{^authors}}{{#site}}{{#author}}{{name}}{{/author}}{{/site}}{{/authors}}
      </span>{{/taxonomies}}
      <span class="label label-success">&there4; {{>date.html}}</span>
    </p>
</header>

<div class="row-fluid">
    <div class="span9 bs-docs-sidebar">
      {{content}}
      <section class="gallery">{{#pictures}}
        <a class="thumbnail" href="{{permalink}}">
            <figure class="small-figure">
                <picture>
            		<source type="image/jpeg" srcset="/img/thumb/{{file}}.jpg">
            		<img class="gallery-photo" alt="{{alt}}" src="/img/thumb/{{file}}.jpg"/>
                </picture>
                <figcaption class="gallery-caption">{{caption}}</figcaption>
            </figure>
        </a>
      {{/pictures}}</section>
    </div>
    {{>aside.html}}
</div>
{{>foot.html}}
